html {
  scroll-behavior: smooth;
}

body {
  font-family: 'GillSans', Arial, Helvetica, sans-serif;
  color: white;
  background: #282828;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.icon::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../media/icons/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 14px;
  width: 10px;
  left: 1px;
  top: 2px;
}

.address {
  font-size: clamp(0.625rem, 0.4833rem + 0.5742vw, 1rem);
}

.promo__title > h1 {
  font-size: clamp(2.5rem, 1.3393rem + 4.7619vw, 5.625rem);
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 6px;
  text-align: left;
  place-self: end;
  line-height: 110px;
  margin-block-end: 35px;
}

.promo-inner ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-inline-start: 47px;
}

.promo-inner li {
  display: block;
  position: relative;
  max-inline-size: 558px;
  text-wrap: wrap;
}

.promo-inner li::before {
  content: '';
  position: absolute;
  left: -39px;
  top: 11px;
  display: inline-block;
  background: url(../media/icons/minus-white.svg) center/contain no-repeat #fff;
  width: 29px;
  height: 1px;
}

.promo-inner li:not(:last-child) {
  margin-block-end: 14px;
}

.promo__text > p {
  max-inline-size: 303px;
  font-weight: 300;
  padding-top: 37px;
  font-size: 26px;
  line-height: 38px;
  text-align: left;
  position: relative;
  margin: 0 auto;
  letter-spacing: 0.9px;
}

.promo__text > p::before {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid #d5d5d5;
  top: 0;
  left: 0;
  height: 0;
  width: 124px;
}

.offers__title-left > h2 {
  font-size: clamp(2.2rem, 1.5643rem + 2.2786vw, 3.375rem);
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  line-height: 100px;
}

.offers__title-left > p {
  letter-spacing: 0.9px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  padding-top: 32px;
  margin-bottom: 60px;
}

.offers__title-left > p::before {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid black;
  top: 0;
  height: 0;
  width: 125px;
}

.offers__title-right > h2 {
  font-size: clamp(2.2rem, 1.5643rem + 2.2786vw, 3.375rem);
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.offers__title-right > p {
  letter-spacing: 0.9px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  padding-top: 32px;
  margin-bottom: 60px;
}

.offers__title-right > p::before {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid black;
  top: 0;
  height: 0;
  width: 125px;
}

.offers__wrapper-slider {
  height: 551px;
  position: relative;
}

.offers .container-slider-left {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  max-inline-size: 50vw;
  min-width: 100%;
}

.offers .container-slider-right {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  max-inline-size: 50vw;
  min-width: 100%;
}

.offers__slider-left {
  width: 100%;
}

.offers__slider-right {
  width: 100%;
}

.offers .arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.offers__slide.slick-slide {
  height: 551px;
  width: 100%;
}

.offers__slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slick-prev {
  display: none !important;
}

.offers .btn-slider-left {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.offers .btn-slider-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.offers__description > p {
  font-weight: 300;
  letter-spacing: 0.8px;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 28px;
}

.learn-btn::after {
  position: absolute;
  content: '';
  display: block;
  width: 34px;
  height: 1px;
  background-color: #ffffff;
  right: -45px;
  bottom: 43%;
}

.select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  position: relative;
  width: 267px;
}

.select__header {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  height: 66px;
  width: 440px;
  background: #76c4c7;
  align-items: center;
}

.select__header.select__header--orange {
  background: #fca252;
}

.select.is-active .select__body {
  display: block;
}

.select.is-active .select__header {
  border-bottom: 0;
}

.select__current {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  padding-left: 24px;
  margin: auto 0;
}

.select.is-active .select__icon {
  transition: 0.3s;
  rotate: 0deg;
  background: url(../media/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mr-icon {
  margin-left: auto;
  margin-right: 21px;
}

.select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 9px;
  text-align: center;
  width: 18px;
  rotate: 180deg;
  background: url(../media/icons/select-arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.select__body {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 440px;
  z-index: 20;
}

.select__body--blue {
  background: #76c4c7;
}

.select__body--orange {
  background: #fca252;
}

.select__item {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  cursor: pointer;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 32px;
  padding: 8.5px 24px;
}

.select__item:hover {
  color: black;
}

.crossed-out-text {
  background-image: url(../media/icons/strikethrough.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.line-dec::after {
  content: '';
  position: absolute;
  background-color: #000;
  border-bottom: 1px solid black;
  height: 0;
  bottom: 0;
  left: 0;
}

.offers__price-text > p {
  max-inline-size: 403px;
  line-height: 26px;
  letter-spacing: 0.6px;
  font-weight: 300;
  font-size: 16px;
}

.offers__price-text.left-text > p {
  max-inline-size: 416px;
}

.list > div {
  padding-top: 258px;
}

.list__title > h3 {
  font-size: 40px;
  position: relative;
  letter-spacing: 1.6px;
  line-height: 46px;
  font-weight: 600;
  max-inline-size: 417px;
  padding-top: 50px;
  position: relative;
}

.list__title > h3::before {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid #dadada;
  top: 0;
  height: 0;
  width: 125px;
}

.list__title-item > p {
  max-inline-size: 404px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 32px;
  font-size: 20px;
  margin-top: 53px;
  margin-right: 210px;
}

.plus-decoration::before {
  content: '';
  position: absolute;
  background-image: url(../media/icons/plus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
}

.list__items-left > ul {
  max-inline-size: 441px;
  font-weight: 300;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding-left: 86px;
  display: flex;
  flex-direction: column;
}

.list__items-left > ul > li {
  position: relative;
}

.list__items-left > ul > li::before {
  position: absolute;
  content: '';
  background-image: url(../media/icons/minus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 29px;
  height: 1px;
  left: -54px;
  top: 15px;
}

.list__items-right > ul > li {
  position: relative;
}

.list__items-right > ul > li::before {
  position: absolute;
  content: '';
  background-image: url(../media/icons/minus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 29px;
  height: 1px;
  left: -54px;
  top: 15px;
}

.list__items-right > ul {
  max-inline-size: 100%;
  padding-left: 85px;
  /*xl */
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 30px;
  gap: 14px 0;
}

.list__items-right > ul > li {
  max-inline-size: 411px;
}

.btn-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

.arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.map-block {
  background: no-repeat center url(../media/img/map.jpg);
  background-size: cover;
}

.tabs-item {
  color: #76c4c7;
  padding-bottom: 17px;
}

.tabs-item--active {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 17px;
}

.slick-list {
  height: 100%;
}

.learn-more {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.49, 0.49, 0.48, 0.49);
}

.learn-more--active {
  max-height: 10000px;
  padding: 10px 0;
}

.reviews__slider {
  width: 100% !important;
}

.reviews__slider video {
  max-inline-size: 810px;
  width: 100%;
  height: auto;
}

.reviews__slider .slick-slide {
  aspect-ratio: 810/454;
  width: 100%;
}

.reviews__slider .slick-slide {
  border: none !important;
}

.reviews__slider-btn {
  position: absolute;
  background: linear-gradient(180deg, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 0.8) 56.5%, #282828 74.5%);
  bottom: 0;
  max-inline-size: 810px;
  width: 100%;
  height: 50%;
}

.arrow-reviews {
  position: absolute;
  top: 66%;
  left: calc(50% - 19px);
  translate: 0 -50%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.button-video {
  display: none;
}

.slick-current > .button-video {
  display: block;
  position: absolute;
  top: 25px;
  right: 26px;
  width: 59px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: url(../media/icons/button-mute.svg) center/cover no-repeat;
  z-index: 1000000;
  font-size: 0;
}


.reviews__slider-btn:hover .arrow-reviews {
  transform: scale(1.2);
}

.reviews__slider > .slick-dots {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-block: 28px 44px;
}

.reviews__slider .slick-dots li {
  padding-block: 5px;
}

.reviews__slider > .slick-dots button {
  font-size: 0;
  width: 11px;
  aspect-ratio: 1 / 1;
  background: #76c4c780;
  border-radius: 50%;
}

.reviews__slider > .slick-dots > .slick-active button {
  background: #76c4c7;
  transition: 0.3s ease;
}

@media (min-width: 2000px) {
  .promo {
    background-image: url(../media/img/promo-big.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1660px) {
  .offers__slide-img {
    object-position: center 10%;
  }
}

@media (min-width: 1441px) {
  .slider-wrapper {
    right: 0;
    left: 0;
  }

  .container-sm {
    max-inline-size: 1230px;
    margin: 0 auto;
  }
}

@media (max-width: 1279px) {
  .promo__title > h1 {
    line-height: 1.5;
  }

  .promo > div {
    background-position: center center;
  }

  .offers__title-left > p {
    margin-bottom: 50px;
    padding-top: 36px;
    line-height: 28px;
  }

  .offers__title-right > p {
    margin-bottom: 50px;
    padding-top: 36px;
    line-height: 28px;
  }

  .offers__price-text > p {
    line-height: 24px;
  }
}

@media (min-width: 1280px) and (max-width: 1352px) {
  .btn-header {
    font-size: 16px !important;
  }
}

@media (max-width: 1290px) {
  .header--right-col {
    column-gap: 30px !important;
  }
}

@media (max-width: 1220px) {
  .list__title-item > p {
    margin-right: 84px;
  }

  .list__items-right > ul {
    padding-left: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1220px) {
  .promo-inner ul {
    padding-inline-start: clamp(1px, 7.22%, 91px) !important;
  }
}

@media (min-width: 1024px) and (max-width: 1220px) {
  .list__btn-block {
    padding-left: 18px !important;
  }

  .select__header,
  .select__body {
    width: 360px;
  }
}

@media (min-width: 1024px) {
  .promo-inner ul {
    padding-inline-start: 91px;
  }

  .left {
    max-inline-size: 50% !important;
  }

  .right {
    width: 50% !important;
  }

  .list > div {
    margin-top: -158px;
  }

  .offers__title-left > p {
    max-inline-size: 477px;
  }

  .offers__title-right > p {
    max-inline-size: 477px;
  }
}

@media (max-width: 1023px) {
  .promo__text > p {
    max-inline-size: 274px;
    padding-top: 24px;
    font-size: 20px;
    line-height: normal;
  }

  .select {
    width: 245px;
  }

  .select .select__header {
    height: 46px;
    width: 245px;
  }

  .select__body {
    width: 245px;
  }

  .select__current {
    font-size: 24px;
    padding-left: 17px;
  }

  .select__item {
    padding-left: 17px;
    font-size: 24px;
  }

  .list__title-item > p {
    margin-right: 0;
  }

  .list__items-right > ul {
    max-inline-size: 100%;
    padding-left: 85px;
  }

  .list > div {
    padding-top: 46px;
  }

  .offers__title-left > h2 {
    line-height: 80px;
  }

  .offers__title-left > p {
    font-size: 22px;
    margin-bottom: 40px;
    padding-top: 28px;
  }

  .offers__title-right > h2 {
    line-height: 80px;
  }

  .offers__title-right > p {
    font-size: 22px;
    margin-bottom: 40px;
    padding-top: 28px;
  }

  .offers__price-text > p {
    max-inline-size: max-content;
  }

  .reviews__widget-wrapper {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    max-height: 800px;
  }

  @media (width < 1024px) {
    .reviews__widget-wrapper {
      height: 800px !important;
    }
  }

  .reviews__slider video {
    max-inline-size: 760px;
  }

  .reviews__slider-btn {
    max-inline-size: 100%;
  }
}

@media (min-width: 1100px) and (max-width: 1219px) {
  .list__title-item > p {
    margin-right: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .promo__title > h1 {
    text-align: center;
  }

  .offers .container-slider-left {
    max-inline-size: calc(100% + 60px);
  }

  .offers .container-slider-right {
    max-inline-size: calc(100% + 60px);
  }

  .left {
    width: 100% !important;
  }

  .right {
    width: 100% !important;
  }

  .promo > div {
    height: calc(100vh - 80px);
  }

  .select__current {
    padding-left: 17px;
  }
}

@media (min-width: 769px) and (max-width: 835px) {
  .main-title {
    max-inline-size: 500px !important;
  }

  .promo__text > p {
    max-inline-size: 260px !important;
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  .list__btn-block {
    padding-left: 45px !important;
  }
}

@media (max-width: 768px) {
  .offers__wrapper-slider {
    height: calc(100vw - 90px);
  }

  .offers__slide.slick-slide {
    height: 100%;
  }

  .offers .container-slider-left {
    max-inline-size: 100vw;
  }

  .offers .container-slider-right {
    max-inline-size: 100vw;
  }

  .slick-track {
    height: 100%;
  }

  .offers__slide {
    height: calc(100vw - 90px) !important;
  }

  .promo__title > h1 {
    text-align: center;
    place-self: center;
  }

  .promo > div {
    height: calc(100vh - 99px);
  }

  .list__title > h3 {
    padding-top: 38px;
    line-height: 34px;
    font-size: 30px;
  }

  .list__items-left > ul > li::before {
    position: absolute;
    content: '';
    background-image: url(../media/icons/minus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 1px;
    left: -44px;
    top: 11px;
  }

  .list__items-right > ul > li::before {
    position: absolute;
    content: '';
    background-image: url(../media/icons/minus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 1px;
    left: -44px;
    top: 11px;
  }

  .select {
    width: 198px;
  }

  .select.is-active .select__body {
    display: block;
  }

  .select .select__header {
    height: 46px;
    width: 325px;
  }

  .select__body {
    width: 325px;
  }

  .select__current {
    font-weight: 600;
    font-size: 22px;
    padding-left: 17px;
    margin: auto 0;
  }

  .select .select__item {
    font-size: 22px;
  }

  .list__title > h3::before {
    width: 82px;
  }

  .list__title-item > p {
    line-height: 24px;
    margin-top: 26px;
  }

  .list__items-right > ul {
    max-inline-size: 309px;
    line-height: 24px;
    padding-left: 45px;
  }

  .list__items-left > ul {
    padding-left: 45px;
    max-inline-size: 309px;
    line-height: 24px;
  }

  .promo__text > p {
    text-align: center;
  }

  .promo__text > p::before {
    left: 25%;
  }
}

@media (min-width: 768px) {
  .promo-inner ul {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  .promo__title > h1 {
    margin-block-end: 45px;
  }
}

@media (max-width: 767px) {
  .offers__title-left > h2 {
    line-height: 30px;
  }

  .offers__title-left > p {
    font-size: 20px;
    padding-top: 22px;
    margin-bottom: 32px;
  }

  .offers__title-right > h2 {
    letter-spacing: 0.5px;
    line-height: 45px;
  }

  .offers__title-right > p {
    font-size: 20px;
    padding-top: 22px;
    margin-bottom: 32px;
  }

  .reviews__widget-wrapper {
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media (min-width: 645px) and (max-width: 767px) {
  .promo-inner ul {
    padding-inline-start: 15.5vw;
  }
}

@media (max-width: 639px) {
  .promo > div {
    /* background: url("../media/img/promo-adaptive.webp");
    background-position: center; */
    height: calc(100vh - 65px);
  }

  .list__items-right > ul {
    gap: 20px;
    padding-left: 40px;
  }

  .promo__title > h1 {
    letter-spacing: 3px;
  }

  .offers__title-left > p::before {
    width: 88px;
  }

  .offers__title-right > p::before {
    width: 88px;
  }

  .offers__description > p {
    letter-spacing: 0.6px;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 24px;
  }

  .offers__price-text > p {
    max-inline-size: 349px;
    font-size: 12px;
  }
}

@media (min-width: 550px) and (max-width: 639px) {
  .promo-inner {
    max-inline-size: 450px;
  }
}

@media (max-width: 550px) {
  .main-title {
    max-inline-size: 392px;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .promo-inner li:not(:last-child) {
    margin-block-end: 6px;
  }
}

@media (min-width: 476px) and (max-width: 639px) {
  .btn-header {
    max-height: 30px;
    height: 100%;
  }

  .address {
    max-inline-size: 131px !important;
  }
}

@media (max-width: 475px) {
  .btn-header {
    max-inline-size: 78px;
  }
}

@media (max-width: 426px) {
  .promo-inner {
    width: 100%;
  }

  .main-title {
    line-height: 52px;
  }

  .address {
    max-inline-size: 104px !important;
  }
}

@media (max-width: 378px) {
  .btn-offers-sm {
    flex-direction: column;
    gap: 10px 0;
  }

  .btn-sm {
    max-inline-size: 180px;
  }

  .container-sm {
    margin: 0 10px !important;
  }
}

@media (max-width: 351px) {
  .address {
    padding-right: 15px;
  }

  .crossed-out-text {
    margin-right: 7px !important;
  }
}

/* container */

.container {
  max-inline-size: 1230px !important;
  margin: 0 auto;
}

@media (max-width: 1536px) {
  .container {
    max-inline-size: 1230px !important;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .container {
    max-inline-size: calc(100% - 50px) !important;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .container {
    max-inline-size: calc(100% - 50px) !important;
    margin: 0 auto;
  }

  .offers .container {
    max-inline-size: 100% !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-inline-size: 100% !important;
  }

  .promo .container {
    max-inline-size: calc(100% - 50px) !important;
    margin: 0 auto;
  }

  .reviews__slider-btn {
    display: none;
  }
}

@media (max-width: 640px) {
  .promo__text > p::before {
    width: 80px;
    transform: translateX(-50%);
    left: 50%;
  }

  .list__items-left > ul > li::before {
    left: -40px;
    top: 12px;
  }

  .list__items-right > ul > li::before {
    left: -40px;
    top: 12px;
  }

  .list__title > h3 {
    letter-spacing: 1.2px;
  }

  .list__items-left > ul {
    max-inline-size: 309px;
    line-height: 24px;
    padding-left: 40px;
  }
}

@media (max-width: 499px) {
  .promo__bottom-content {
    display: none !important;
  }

  .additional-block {
    display: block !important;
  }
}

@media (max-width: 425px) {
  .promo .container {
    max-inline-size: calc(100% - 40px) !important;
    margin: 0 auto;
  }
}

/** Additional css **/
form.ajax-form .form-row.has-error .help-block {
  color: #cc4036;
  font-size: 14px;
}

.error-msg {
  color: #cc4036;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.info-box h3 {
  font-family: 'GillSans', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #959595;
  margin-bottom: 5px;
}

.info-box h3 span {
  color: #464646;
}

.pay-result {
  min-height: 350px;
  padding: 100px 0 50px 0;
}

.pay-result .content {
  max-inline-size: 682px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  /*background-color: #202020;*/
  padding: 20px 0 40px;
  /*border: 1px solid #75c4c7;*/
}

.pay-result .icon-box {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #202020;
}

.pay-result .icon-box svg {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.pay-result .content.success svg {
  width: 125px;
  height: 125px;
}

.pay-result h3 {
  padding: 30px 0 50px 0;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #e5e7eb;
  position: relative;
}

.pay-result .content h3:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 5px;
  background-color: #9c2727;
  bottom: 30px;
  left: -webkit-calc(50% - 100px);
  left: -moz-calc(50% - 100px);
  left: calc(50% - 100px);
}

.pay-result .content.success h3:after {
  background-color: #166e00;
}

.pay-result .info-box {
  color: #e5e7eb;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pay-result .info-box ul {
  text-align: left;
  margin-left: 225px;
}

.pay-result .info-box ul li {
  margin: 5px 0;
}

.pay-result .error-box {
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #9c2727;
}

.pay-result .error-box a.confirm-url {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 12px 10px;
  background-color: #353535;
  color: #e5e7eb;
  border-radius: 7px;
  opacity: 0.7;
}

.pay-result .error-box a.confirm-url:hover {
  opacity: 1;
}

.btn-go-home {
  border: 1px solid #75c4c7;
  color: #e5e7eb;
  font-size: 1.25rem;
  line-height: 1.75rem;
  transition-duration: 300ms;
  padding: 5px 25px;
}

.btn-go-home:hover {
  color: #282828;
  background-color: #75c4c7;
}

.box-title {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 46px;
  color: #fff;
  text-align: center;
}

@media (max-width: 640px) {
  .pay-result .content {
    max-inline-size: 350px;
  }

  .pay-result h3 {
    font-size: 28px;
    line-height: 35px;
  }
}

/* Retina */
/* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .promo > div {
    background: url(../media/img/promo-header-hd.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .list {
    background: url(../media/img/promo-footer-hd.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 2000px) {
    .promo > div {
      background-image: url(../media/img/promo-big-hd.webp);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: 640px) {
    .promo > div {
      background: url(../media/img/promo-adaptive-hd.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 20%;
    }
  }
} */

/* button-video */

.reviews__video {
  object-fit: cover;
  object-position: center;
}

.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  translate: -50% -50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#76C4C7 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#76C4C7);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

.spinner.loading {
  display: block;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}